.doc-wrapper {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.doc-wrapper .doc-sidebar {
  margin-top: 25px;
  /* search area */
  /* end search */
  /* begin sidebar */
  /* end sidebar */
}
.doc-wrapper .doc-sidebar #search-demo-container ul#results-container {
  list-style: none;
  font-size: 14px;
  background-color: white;
  position: absolute;
  top: 45px;
  z-index: 50;
  width: 255px;
  border-left: 1px solid #dedede;
  box-shadow: 2px 3px 2px #dedede;
  padding-left: 10px;
  line-height: 2;
}
.doc-wrapper .doc-sidebar #search-demo-container ul#results-container a {
  background-color: transparent;
}
.doc-wrapper .doc-sidebar #search-demo-container ul#results-container a::hover {
  color: black;
}
@media (min-width: 991px) {
  .doc-wrapper .doc-sidebar #search-bar {
    position: fixed;
    z-index: 1;
    min-width: 300px;
  }
}
@media (max-width: 990px) {
  .doc-wrapper .doc-sidebar #search-bar {
    position: relative;
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .doc-wrapper .doc-sidebar #search-bar {
    width: 100%;
  }
}
.doc-wrapper .doc-sidebar #search-bar #search-input {
  border: 1px solid #22ade8;
  font-size: 14px;
  padding: 5px 10px;
  margin-left: 0px;
  min-width: 20em;
  width: 100%;
}
.doc-wrapper .doc-sidebar #search-bar::after {
  content: "\f4a4";
  color: #337ab7;
  font-family: "Icons";
  font-size: 26px;
  position: absolute;
  top: -4px;
  right: 8px;
  height: 42px;
}
.doc-wrapper .doc-sidebar ul#mysidebar {
  border-left: 5px solid #22ade8;
  margin-top: 60px;
  border-radius: 0px;
}
@media (min-width: 990px) {
  .doc-wrapper .doc-sidebar ul#mysidebar {
    position: fixed;
    min-width: 300px;
  }
}
@media (max-width: 990px) {
  .doc-wrapper .doc-sidebar ul#mysidebar {
    position: relative;
    width: 70%;
    margin: 15px auto;
  }
}
@media (max-width: 768px) {
  .doc-wrapper .doc-sidebar ul#mysidebar {
    width: 100%;
  }
}
.doc-wrapper .doc-sidebar ul#mysidebar li > a > span {
  float: right;
  font-size: 20px;
  font-weight: bolder;
  position: relative;
}
.doc-wrapper .doc-sidebar ul#mysidebar li > a > span::after {
  content: '\25be';
  top: -5px;
  position: absolute;
  right: 0;
}
.doc-wrapper .doc-sidebar ul#mysidebar li a {
  display: block;
  line-height: 2;
  padding: 10px;
}
.doc-wrapper .doc-sidebar ul#mysidebar li a:hover {
  text-decoration: none;
}
.doc-wrapper .doc-sidebar ul#mysidebar li.open > a > span:after {
  content: '\25b4';
}
.doc-wrapper .doc-sidebar ul#mysidebar li ul {
  background-color: #FAFAFA;
  color: #248EC2;
  list-style: none;
  padding: 0;
}
.doc-wrapper .doc-sidebar ul#mysidebar li li a {
  padding: 8px;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li a:active,
.doc-wrapper .doc-sidebar ul#mysidebar > li a:focus,
.doc-wrapper .doc-sidebar ul#mysidebar > li a:hover {
  text-decoration: none;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li > a:hover {
  background-color: #248EC2;
  color: #FFFFFF;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li.active > a {
  background-color: #22ade8;
  color: #FFFFFF;
  font-weight: bold;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li.active > a:hover {
  background-color: #248EC2;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li.active ul a {
  padding-left: 20px;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li.active ul a:hover {
  border-left: 10px solid #248EC2;
  padding-left: 10px;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li.active ul > .active > a {
  border-left: 10px solid #22ade8;
  color: #059;
  font-weight: bold;
  padding-left: 10px;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li.active ul > .active > a:hover {
  border-left-color: #248EC2;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li.active ul > .active ul {
  font-size: 15px;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li.active ul > .active ul a {
  padding-left: 35px;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li.active ul > .active ul a:hover {
  border-left: 20px solid #248EC2;
  padding-left: 15px;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li.active ul > .active ul > .active a {
  border-left: 20px solid #22ade8;
  padding-left: 15px;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li.active ul > .active ul > .active a:hover {
  border-left-color: #248EC2;
}
.doc-wrapper .doc-sidebar ul#mysidebar > li > ul {
  border-bottom: 1px solid #22ade8;
}
.doc-wrapper .doc-content .btn {
  margin: 10px 0;
}
.doc-wrapper .doc-content h1 {
  font-size: 200%;
}
.doc-wrapper .doc-content h2 {
  font-size: 160%;
}
.doc-wrapper .doc-content h3 {
  font-size: 120%;
}
.doc-wrapper .doc-content h4 {
  font-size: 100%;
}
.doc-wrapper .doc-content h5 {
  font-size: 80%;
}
.doc-wrapper .doc-content img {
  margin: 12px 0px 3px 0px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.doc-wrapper .doc-content ol li,
.doc-wrapper .doc-content ul li {
  margin: 10px 0px;
}
.doc-wrapper .doc-content table {
  background-color: transparent;
  max-width: 90%;
  margin-bottom: 20px;
  border: 1px solid #dedede;
}
.doc-wrapper .doc-content table caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
.doc-wrapper .doc-content table th {
  text-align: left;
}
.doc-wrapper .doc-content table > thead > tr > th,
.doc-wrapper .doc-content table > tbody > tr > th,
.doc-wrapper .doc-content table > tfoot > tr > th,
.doc-wrapper .doc-content table > thead > tr > td,
.doc-wrapper .doc-content table > tbody > tr > td,
.doc-wrapper .doc-content table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.doc-wrapper .doc-content table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  text-transform: uppercase;
  background-color: #444;
  color: white;
  text-align: center;
}
.doc-wrapper .doc-content table > caption + thead > tr:first-child > th,
.doc-wrapper .doc-content table > colgroup + thead > tr:first-child > th,
.doc-wrapper .doc-content table > thead:first-child > tr:first-child > th,
.doc-wrapper .doc-content table > caption + thead > tr:first-child > td,
.doc-wrapper .doc-content table > colgroup + thead > tr:first-child > td,
.doc-wrapper .doc-content table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.doc-wrapper .doc-content table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.doc-wrapper .doc-content table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
.doc-wrapper .doc-content table td[class*="col-"],
.doc-wrapper .doc-content table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.doc-wrapper .doc-content table.boldFirstColumn td:first-child {
  font-weight: bold;
}
.doc-wrapper .doc-content table table tr td {
  hyphens: auto;
}
#definition-box-container div a.active {
  font-weight: bold;
}
p.post-meta {
  font-size: 80%;
  color: #777;
}
.entry-date {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
  margin-bottom: 0;
  text-transform: uppercase;
}
div#toc ul {
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  max-width: 300px;
  color: gray;
}
div#toc ul li {
  margin: 8px 0px 8px 22px;
  font-size: 90%;
  list-style: square;
}
div#toc ul li ul {
  padding-left: 8px;
}
div#toc ul li ul li {
  list-style-type: inherit;
  margin: 5px 0px 0px 5px;
}
div#toc ul li ul li::before {
  content: "  ";
}
div#toc > ul::before {
  content: "Table of Contents";
  font-weight: 500;
  color: #555;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}
.footer {
  text-align: center;
}
figcaption {
  padding-bottom: 12px;
  padding-top: 6px;
  max-width: 90%;
  margin-bottom: 20px;
  font-style: italic;
  color: gray;
}
table.dataTable thead {
  background-color: #444;
}
table td {
  hyphens: auto;
}
section table tr.success {
  background-color: #dff0d8 !important;
}
table tr.info {
  background-color: #d9edf7 !important;
}
section table tr.warning,
table tr.testing,
table tr.testing > td.sorting_1 {
  background-color: #fcf8e3 !important;
}
section table tr.danger,
table tr.preference,
table tr.preference > td.sorting_1 {
  background-color: #f2dede !important;
}
table.profile thead tr th {
  background-color: #248ec2;
}
table.request thead tr th {
  background-color: #ED1951;
}
span.myLabel {
  padding-left: 10px;
  padding-right: 10px;
}
button.cursorNorm {
  cursor: default;
}
a.dropdown-toggle,
.navbar-inverse .navbar-nav > li > a {
  margin-left: 10px;
}
hr.faded {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.shaded {
  height: 12px;
  border: 0;
  box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.5);
  margin-top: 70px;
  background: white;
  width: 100%;
  margin-bottom: 10px;
}
i.border {
  padding: 10px 20px;
  background-color: whitesmoke;
}
a[data-toggle] {
  color: #248EC2;
}
.summary {
  font-size: 120%;
  color: #808080;
  margin: 20px 0px 20px 0px;
  border-left: 5px solid #ED1951;
  padding-left: 10px;
}
.summary:before {
  content: "Summary: ";
  font-weight: bold;
}
ol li ol li {
  list-style-type: lower-alpha;
}
li img {
  clear: both;
}
.tab-content {
  padding: 15px;
  background-color: #FAFAFA;
}
span.tagTitle {
  font-weight: 500;
}
li.activeSeries {
  font-weight: bold;
}
.seriesContext .dropdown-menu li.active {
  font-weight: bold;
  margin-left: 43px;
  font-size: 18px;
}
.alert-warning {
  color: #444;
}
div.alert code,
h2 code {
  background-color: transparent !important;
}
/* without this, the links in these notes aren't visible.*/
.alert a {
  text-decoration: underline;
}
div.tags {
  padding: 10px 5px;
}
.tabLabel {
  font-weight: normal;
}
hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
  margin: 30px 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
a[data-toggle="tooltip"] {
  color: #649345;
  font-style: italic;
  cursor: default;
}
span.muted {
  color: #666;
}
table code {
  background-color: transparent;
}
.highlight .err {
  color: #a61717;
  background-color: transparent !important;
}
table p {
  margin-top: 12px;
  margin-bottom: 12px;
}
pre,
table code {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
pre {
  margin: 25px 0px;
}
code {
  word-wrap: break-word;
}
#json-box-container pre {
  margin: 0px;
}
.video-js {
  margin: 30px 0px;
}
video {
  display: block;
  margin: 30px 0px;
  border: 1px solid #c0c0c0;
}
p.required,
p.dataType {
  display: block;
  color: #c0c0c0;
  font-size: 80%;
  margin-left: 4px;
}
.post-content img.inline {
  margin: 0px;
  margin-bottom: 6px;
}
.panel-heading {
  font-weight: bold;
}
.note code,
.alert code,
.warning code,
div#toc code,
h2 code,
h3 code,
h4 code {
  color: inherit;
  padding: 0px;
}
a.accordion-toggle {
  font-style: normal;
}
h3.codeExplanation {
  font-size: 18px;
  font-style: normal;
  color: black;
  line-height: 24px;
}
span.soft {
  color: #c0c0c0;
}
.parameter {
  font-family: courier;
  color: red !important;
}
.formBoundary {
  border: 1px solid gray;
  padding: 15px;
  margin: 15px 0px;
  background-color: whitesmoke;
}
.videoThumbs img {
  float: left;
  margin: 15px 15px 15px 0px;
  box-shadow: 2px 2px 1px #f0f0f0;
  border: 1px solid #dedede;
}
*:hover > .anchorjs-link {
  transition: color .25s linear;
  text-decoration: none;
}
.kbCaption {
  color: white;
  background-color: #444;
  padding: 10px;
}
/* algolia search */
.search {
  text-align: left;
}
.search input {
  font-size: 20px;
  width: 300px;
}
/* algolia */
div.results {
  position: absolute;
  background-color: white;
  width: 100%;
  margin: auto;
  text-align: left;
}
div.results ul {
  list-style-type: none;
  padding: 0;
}
.algolia__result-highlight {
  background-color: yellow;
  font-weight: bold;
}
/*# sourceMappingURL=doc-style.css.map */