// First: Import Bootstrap
@import "bootstrap/bootstrap.less";

@orange: #f59350;
@orange-highlight: #f38031;
@blue: #22ade8;
@blue-highlight: #248EC2;
@blue-link: #059;

@keyframes bounce-right {
  0% {
    opacity: .2;
    transform: translateX(-200px);
  }
  60% {
    opacity: .7;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounce-left {
  0% {
    opacity: .2;
    transform: translateX(200px);
  }
  60% {
    opacity: .7;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounce-rotate {
  0% {
    opacity: .2;
    transform: perspective(800px) rotateX(-80deg);
  }
  20% {
    opacity: 1;
  }
  60% {
    transform: perspective(800px) rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0);
  }
}

@keyframes animated-bg-first {
  0% {
    background-position: 700px;
  }
  100% {
    background-position: -700px;
  }
}

@keyframes animated-bg-second {
  0% {
    background-position: 800px;
  }
  100% {
    background-position: -800px;
  }
}

body {
  font-family: 'OpenSans';
  line-height: 2;
  #top-section {
    position: relative;
    z-index: 1;
  }
  #header {
    .container();
    text-align: center;
    padding: 0 10px;
    .communote-logo {
      margin-bottom: 30px;
      margin-top: 20px;
      width: 100%;
      max-width: 278px;
    }
    #github-ribbon {
      img {
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
      }
    }
    @media (max-width: 470px) {
      text-align: left;
      height: 92px;
      @media (max-width: 395px) {
        #github-ribbon {
          display: none;
        }
      }
    }
  }

  #main-navigation {
    background-color: @orange;
    @media (min-width: @screen-sm-min) {
      height: 65px;
      border-bottom: 4px solid mix(@orange, black, 94%);
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        flex: 1 1 auto;
        height: 65px;
        a {
          color: #FFF;
          display: block;
          padding: 5px 10px;
          line-height: 55px;
          height: 65px;
          .ion {
            font-size: 32px;
          }
        }
        &.home {
          a {
            padding-top: 10px;
          }
        }
      }
      @media (min-width: @screen-sm-min) {
        font-size: @font-size-large;
        max-width: 500px;
        margin: auto;
        li {
          border-bottom: 5px solid transparent;
          &:hover, &.active{
            border-color: #FFF;
          }
        }
      }
      .active a, a:hover, a:focus {
        text-decoration: none;
        background-color: @orange-highlight;
        border-bottom: 5px solid;
        color: #FFF;
        height: 65px;
      }
    }
  }

  #not-found {
    .bg-wrapper {
      background-image: url("../images/blur_bg2.jpg");
      min-height: 180px;
      padding-top: 35px;
      @media (min-width: @screen-md-min) {
        animation-name: animated-bg-second;
        animation-duration: 60s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @media (max-width: @screen-md-max) {
        background-size: cover;
      }
      position: relative;
    }

    h1 {
      color: #FFF;
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
      opacity: 0.8;
      margin-bottom: 50px;
      font-size: 100px;
    }

    .help-text {
      .container();
      margin-top: 30px;
    }
  }

  button, a {
    .ion:before {
      vertical-align: middle;
    }
  }

  @import "sites.less";
  @import "doc.less";
}
